# pg_brm.container
[Container]
AutoUpdate=registry
ContainerName=pg_brm
Environment=TZ=Europe/Zurich "SCHEDULE=0 0 * * *"
Image=ghcr.io/lukasw01/postgresql_brm:latest
Network=db.network
Volume=/mnt/container/backend/pg_brm/env.yaml:/ruby/env.yaml:Z
Volume=/mnt/container/backend/pg_brm/backup/:/ruby/lib/backup:Z
Volume=/mnt/container/backend/pg_brm/log/:/ruby/lib/log:Z

[Service]
Restart=always

[Install]
WantedBy=default.target