# dendrite_app.container
[Container]
AutoUpdate=registry
ContainerName=dendrite_app
Image=ghcr.io/element-hq/dendrite-monolith:latest
Network=app.network
PublishPort=8008:8008
Volume=/mnt/container/dendrite/media:/var/dendrite/media:Z
Volume=/mnt/container/dendrite/config:/etc/dendrite:Z
Volume=/mnt/container/dendrite/jetstream:/var/dendrite/jetstream:Z
Volume=/mnt/container/dendrite/logs:/var/dendrite/logs:Z
Volume=/mnt/container/dendrite/search_index:/var/dendrite/searchindex:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
