# bitwarden_app.container
[Container]
AutoUpdate=registry
ContainerName=bitwarden_app
EnvironmentFile=/mnt/container/bitwarden/settings.env
Image=docker.io/bitwarden/self-host:beta
Network=app.network
Volume=/mnt/container/bitwarden/data:/etc/bitwarden:Z
Volume=/mnt/container/bitwarden/logs:/var/log/bitwarden:Z

[Service]
Restart=always

[Install]
WantedBy=default.target