# bitwarden_app.container
[Container]
AutoUpdate=registry
ContainerName=bitwarden_app
Image=ghcr.io/bitwarden/lite:latest
Network=app.network
PublishPort=8080:8080
Volume=/mnt/container/bitwarden/data:/etc/bitwarden:Z
Volume=/mnt/container/bitwarden/logs:/var/log/bitwarden:Z
EnvironmentFile=/mnt/container/bitwarden/settings.env
LogDriver=k8s-file
LogOpt=path=/mnt/container/log/bitwarden.log

[Service]
Restart=always

[Install]
WantedBy=default.target