# APP
I_PAID_FOR_GLITCHTIP=true
GLITCHTIP_MAX_EVENT_LIFE_DAYS=180
GLITCHTIP_MAX_TRANSACTION_EVENT_LIFE_DAYS=180
GLITCHTIP_MAX_FILE_LIFE_DAYS=360
SECRET_KEY={{ sentry_secret_key }}
GLITCHTIP_DOMAIN=https://sentry.wigger.one
PORT=8000

# DB
DATABASE_URL=postgres://sentry:{{ postgres_pw }}@db.local:5432/sentry
VALKEY_URL=redis://:{{ redis_pw }}@db.local:6379/2

# S3
DEFAULT_FILE_STORAGE=storages.backends.s3boto3.S3Boto3Storage
AWS_ACCESS_KEY_ID={{ s3_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ s3_secret_access_key }}
AWS_STORAGE_BUCKET_NAME=sentry
AWS_S3_ENDPOINT_URL={{ s3_url }}

# SMTP
EMAIL_BACKEND=anymail.backends.mailgun.EmailBackend
MAILGUN_API_URL=https://api.eu.mailgun.net/v3
MAILGUN_API_KEY={{ mailgun_api_key }}
MAILGUN_SENDER_DOMAIN=www.wigger.one
DEFAULT_FROM_EMAIL={{ smtp_user }}

# WORKER
CELERY_WORKER_AUTOSCALE=2,8
CELERY_WORKER_CONCURRENCY=2

# Etc
ENABLE_USER_REGISTRATION=true
ENABLE_ORGANIZATION_CREATION=true
