# DB settings
DATABASE_HOST=lernmit_postgres
DATABASE_NAME=lernmit
DATABASE_PASSWORD={{ postgres_pw }}
DATABASE_PORT=5432
DATABASE_USER=lernmit
POSTGRES_DB=lernmit
POSTGRES_USER=lernmit
POSTGRES_PASSWORD={{ postgres_pw }}

# OAuth2 settings
HOSTNAME=lernmit.wigger.one
OAUTH_BASE_URL=https://auth.wigger.one/realms/lernmit
OAUTH_CLIENT_ID=lernmit
OAUTH_CLIENT_SECRET={{ lernmit_client_secret }}

# Phoenix
SECRET_KEY_BASE={{ phoenix_secret_key }}
