# This is a sample configuration file. You can generate your configuration
# with the `rake mastodon:setup` interactive setup wizard, but to customize
# your setup even further, you'll need to edit it manually. This sample does
# not demonstrate all available configuration options. Please look at
# https://docs.joinmastodon.org/admin/config/ for the full documentation.

# Note that this file accepts slightly different syntax depending on whether
# you are using `docker-compose` or not. In particular, if you use
# `docker-compose`, the value of each declared variable will be taken verbatim,
# including surrounding quotes.
# See: https://github.com/mastodon/mastodon/issues/16895

#Domain& Federation
LOCAL_DOMAIN=social.wigger.one
WEB_DOMAIN=social.wigger.one

#Security
AUTHORIZED_FETCH=false
LIMITED_FEDERATION_MODE=false
DISALLOW_UNAUTHENTICATED_API_ACCESS=false

#User mode
SINGLE_USER_MODE=true

# Prepared Statements
PREPARED_STATEMENTS=true

# Scailing
PERSISTENT_TIMEOUT=20
MAX_THREADS=5
WEB_CONCURRENCY=2
SIDEKIQ_CONCURRENCY=5

#Region
DEFAULT_LOCALE=en

# Session
MAX_SESSION_ACTIVATIONS=10

# Home feeds
USER_ACTIVE_DAYS=7

#Deepl
DEEPL_API_KEY={{ deepl_api }}
DEEPL_PLAN=free

# Redis
# -----
REDIS_HOST=db.lan
REDIS_NAME=mastodon
REDIS_PASSWORD={{ redis_pw }}
REDIS_PORT=6379
#REDIS_URL=redis://db.local:6379
#SIDEKIQ_REDIS_URL=redis://db.local:6379

# PostgreSQL
# -----
DB_HOST=db.lan
DB_NAME=mastodon
DB_USER=mastodon
DB_NAME=mastodon
DB_PASS={{ postgres_pw }}
DB_PORT=5432
DB_SSLMODE=disable
DB_POOL=5
#DATABASE_URL=postgresql://mastodon:{{ postgres_pw }}@db.local:5432

#Postgres
POSTGRES_DB=mastodon
POSTGRES_USER=mastodon
POSTGRES_PASSWORD={{ postgres_pw }}

# Elasticsearch (optional)
# ------------------------
ES_ENABLED=false
#ES_HOST=mastodon_elasticsearch
#ES_PORT=9200

# Secrets
# -------
# Make sure to use `rake secret` to generate secrets
# -------
SECRET_KEY_BASE={{ rake_secret_key }}
OTP_SECRET={{ rake_otp }}

# Web Push
# --------
# Generate with `rake mastodon:webpush:generate_vapid_key`
VAPID_PRIVATE_KEY={{ rake_pub }}
VAPID_PUBLIC_KEY={{ rake_priv }}

# Sending mail
# ------------
SMTP_SERVER={{ smtp_host }}
SMTP_PORT=587
SMTP_LOGIN={{ smtp_user }}
SMTP_PASSWORD={{ smtp_password }}
SMTP_FROM_ADDRESS=Mastodon <{{ smtp_user }}>
SMTP_AUTH_METHOD=plain

EMAIL_DOMAIN_DENYLIST=outlook.com|hotmail.com|gmail.com|yahoo.com|aol.com

# File storage (optional)
# ------------
S3_ENABLED=true
S3_BUCKET=mastodon
S3_REGION=weur
AWS_ACCESS_KEY_ID={{ s3_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ s3_secret_access_key }}
S3_PROTOCOL=https
S3_ALIAS_HOST=media.social.wigger.one
S3_HOSTNAME={{ s3_url }}
S3_ENDPOINT={{ s3_url }}
S3_PERMISSION=private

# IP and session retention
# ------------
# Make sure to modify the scheduling of ip_cleanup_scheduler in config/sidekiq.yml
# to be less than daily if you lower IP_RETENTION_PERIOD below two days (172800).
# ------------
IP_RETENTION_PERIOD=31556952
SESSION_RETENTION_PERIOD=31556952

#Tor
ALLOW_ACCESS_TO_HIDDEN_SERVICE=false

# Active Record encryption secrets configuration
# -----------------------
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY={{ active_record_encryption }}
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY={{ active_record_encryption_deterministic_key }}
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT={{ active_record_encryption_key_derivation_salt }}