# lemmy_app.container
[Container]
AutoUpdate=registry
ContainerName=lemmy_app
Image=docker.io/dessalines/lemmy:v0.19.12
Network=app.network
PublishPort=8536:8536
Volume=/mnt/container/lemmy/config:/config/:Z
EnvironmentFile=/mnt/container/lemmy/settings.env

[Service]
Restart=always

[Install]
WantedBy=default.target