# lemmy_app.container
[Container]
AutoUpdate=registry
ContainerName=lemmy_app
Image=docker.io/dessalines/lemmy:0.19.15
Network=app.network
PublishPort=8536:8536
Volume=/mnt/container/lemmy/config:/config/:Z
EnvironmentFile=/mnt/container/lemmy/settings.env
LogDriver=k8s-file
LogOpt=path=/mnt/container/log/lemmy_app.log

[Service]
Restart=always

[Install]
WantedBy=default.target