# kopia.container
[Container]
AddCapability=SYS_ADMIN
AddDevice=/dev/fuse:/dev/fuse:rwm
AutoUpdate=registry
EnvironmentFile=/mnt/container/backend/kopia/settings.env
Exec=server start '--address=0.0.0.0:51515' '--server-username=root' '--server-password=root' --insecure
Group=0
Image=ghcr.io/lukasw01/kopia-shoutrrr:latest
Network=backend.network
PodmanArgs=--privileged --security-opt apparmor=unconfined
User=0
Volume=/mnt/container/backend/kopia/config:/app/config
Volume=/mnt/container/backend/kopia/cache:/app/cache
Volume=/mnt/container/backend/kopia/logs:/app/logs
Volume=/mnt/:/mnt/:ro
PublishPort=4001:51515

[Service]
Restart=always

[Install]
WantedBy=default.target