- name: Create Minecraft directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0770"
    owner: "{{ user }}"
    group: "{{ group }}"
    recurse: true
  loop:
    - "/mnt/container/minecraft/data"
    - "/mnt/container/minecraft/data/config"
    - "/mnt/container/minecraft/data/mods"

- name: Set up Minecraft server
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: '0644'
  loop:
    - src: container/minecraft.container.j2
      dest: "/home/{{ user }}/.config/containers/systemd/minecraft.container"
    - src: env/minecraft/settings.env.j2
      dest: "/mnt/container/minecraft/settings.env"

- name: Copy config folder
  ansible.builtin.copy:
    src: config/
    dest: /mnt/container/minecraft/data/config/
    mode: preserve
    directory_mode: preserve

- name: Copy mods.properties file
  ansible.builtin.copy:
    src: mods.properties
    dest: /mnt/container/minecraft/data/mods/mods.properties
    mode: "0644"

- name: Set up Minecraft modpacks with secrets
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: '0644'
  loop:
    - src: config/simple-discord-compat.toml
      dest: "/mnt/container/minecraft/data/config/simple-discord-link/simple-discord-compat.toml"
    - src: config/simple-discord-link.toml
      dest: "/mnt/container/minecraft/data/config/simple-discord-link/simple-discord-link.toml"
