- name: Create Pterodactyl directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0775"
    owner: "{{ user }}"
    group: "{{ group }}"
    recurse: true
  loop:
    - "/mnt/container/minecraft/docker"
    - "/mnt/container/minecraft/conf"
    - "/mnt/container/minecraft/data"
    - "/mnt/container/minecraft/logs"
    - "/mnt/container/minecraft/tmp"
    - "/mnt/container/minecraft/ssl"

- name: Start Pterodactyl Wings
  community.general.docker_container:
    name: "pelican_wings"
    image: "ghcr.io/pelican-dev/wings:latest"
    restart_policy: unless-stopped
    pull: yes
    state: "started"
    ports:
      - "443:443"
      - "2022:2022"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/mnt/container/minecraft/docker:/var/lib/docker/containers"
      - "/mnt/container/minecraft/conf:/etc/pelican"
      - "/mnt/container/minecraft/data:/mnt/container/minecraft/data"
      - "/mnt/container/minecraft/logs:/var/log/pelican/"
      - "/mnt/container/minecraft/tmp:/tmp/pelican/"
      - "/mnt/container/minecraft/ssl:/etc/ssl/certs:ro"
    networks:
      - name: "app"
    env:
      TZ: "UTC"
      WINGS_UID: "1000"
      WINGS_GID: "1000"
      WINGS_USERNAME: "pelican"
