# glitchtip_migrate.container
[Container]
AutoUpdate=registry
ContainerName=glitchtip_migrate
Image=docker.io/glitchtip/glitchtip:latest
Exec=./bin/run-migrate.sh
Network=app.network
EnvironmentFile=/mnt/container/glitchtip/settings.env
LogDriver=k8s-file
LogOpt=path=/mnt/container/log/glitchtip_migrate.log

[Install]
WantedBy=default.target
