TZ=Europe/Amsterdam
TYPE=FABRIC
VERSION=1.21.10
EULA=TRUE
MOTD=Quadratauge
ICON=https://cdn.wigger.one/img/quadratauge.webp
WHITELIST=luke_w01,Michael_Pikmin,zztt06
OPS=luke_w01,Michael_Pikmin,zztt06
SERVER_PORT=25565
SERVER_NAME=Minecraft
DIFFICULTY=normal
MAX_PLAYERS=20
MAX_WORLD_SIZE=30000000
ALLOW_NETHER=true
ANNOUNCE_PLAYER_ACHIEVEMENTS=true
ENABLE_COMMAND_BLOCK=false
FORCE_GAMEMODE=true
GENERATE_STRUCTURES=true
MAX_BUILD_HEIGHT=256
SPAWN_ANIMALS=true
SPAWN_MONSTERS=true
SPAWN_NPCS=true
VIEW_DISTANCE=32
MODE=survival
PVP=true
LEVEL_TYPE=minecraft:default
LEVEL=world
ONLINE_MODE=true
INIT_MEMORY=2G
MAX_MEMORY=6G 
LOG_LEVEL=info
LOG_CONSOLE_FORMAT=[%d{HH:mm:ss}] [%t/%level]: %msg%n
LOG_FILE_FORMAT=[%d{HH:mm:ss}] [%t/%level]: %msg%n
LOG_TERMINAL_FORMAT=[%d{HH:mm:ss} %level]: %msg%n
ROLLING_LOG_FILE_PATTERN=logs/%d{yyyy-MM-dd}-%i.log.gz
ROLLING_LOG_MAX_FILES=1000
LOG_TIMESTAMP=true
ENABLE_ROLLING_LOGS=true
ENABLE_RCON=true
RCON_PORT=25575
BROADCAST_RCON_TO_OPS=true
MODS_FILE=/data/mods/mods.properties