EULA=TRUE
TYPE=PAPER
MOTD=Quadratauge
WHITELIST=luke_w01,Michael_Pikmin,zztt06
OPS=luke_w01,Michael_Pikmin,zztt06
DIFFICULTY=easy
ICON=https://cdn.wigger.one/img/quadratauge.webp
FORCE_GAMEMODE=true
GENERATE_STRUCTURES=true
SNOOPER_ENABLED=true
SERVER_PORT=25565
SERVER_NAME=Minecraft
ENABLE_RCON=true
ENABLE_QUERY=true
ONLINE_MODE=true
LEVEL=world
LEVEL_TYPE=minecraft:normal
MAX_PLAYERS=20
MAX_WORLD_SIZE=30000000
PVP=true
MODE=survival
VIEW_DISTANCE=40
SPAWN_PROTECTION=0
SPAWN_NPCS=true
ALLOW_FLIGHT=true
SPAWN_MONSTERS=true
SPAWN_ANIMALS=true
MAX_TICK_TIME=60000
MAX_BUILD_HEIGHT=319
ALLOW_NETHER=true
ANNOUNCE_PLAYER_ACHIEVEMENTS=true
ENABLE_COMMAND_BLOCK=false
LOG_TIMESTAMP=true
EXEC_DIRECTLY=true
STOP_SERVER_ANNOUNCE_DELAY=true
ENABLE_ROLLING_LOGS=true
TZ=Europe/Amsterdam
STOP_DURATION=60
PROXY=proxy:3128
USE_SIMD_FLAGS=true
USE_FLARE_FLAGS=true
USE_AIKAR_FLAGS=true
FORCE_REDOWNLOAD=true
INIT_MEMORY=2G
MAX_MEMORY=6G 
