# Backups (S3)
APP_BACKUP_DRIVER=s3
AWS_DEFAULT_REGION=auto
AWS_ACCESS_KEY_ID={{ s3_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ s3_secret_access_key }}
AWS_BACKUPS_BUCKET=minecraft
AWS_ENDPOINT={{ s3_url }}
BACKUP_MAX_PART_SIZE=1073741824
BACKUP_PRESIGNED_URL_LIFESPAN=120
BACKUP_THROTTLE_LIMIT=2
BACKUP_THROTTLE_PERIOD=600
AWS_BACKUPS_STORAGE_CLASS=STANDARD
# SMTP
MAIL_MAILER=smtp
MAIL_SCHEME=smtp
MAIL_FROM_NAME=Gaming
MAIL_FROM_ADDRESS={{ smtp_user }}
MAIL_HOST={{ smtp_host }}
MAIL_PORT={{ smtp_port }}
MAIL_USERNAME={{ smtp_user }}
MAIL_PASSWORD={{ smtp_password }}
MAIL_ENCRYPTION=true
# APP
TRUSTED_PROXIES="*"
XDG_DATA_HOME=/pelican-data
APP_ENV=production
APP_INSTALLED=true
APP_KEY={{ minecraft_app_key }}
ADMIN_EMAIL={{ smtp_user }}
APP_TIMEZONE=UTC
APP_NAME=Gaming
APP_URL=https://gaming.wigger.one
APP_LOGO=https://cdn.wigger.one/img/icon.ico
APP_FAVICON=https://cdn.wigger.one/img/icon.ico
APP_2FA_REQUIRED=1
APP_BACKUP_DRIVER=s3
APP_ACTIVITY_PRUNE_DAYS=90
APP_ACTIVITY_HIDE_ADMIN=true
APP_API_CLIENT_RATELIMIT=720
APP_API_APPLICATION_RATELIMIT=240
APP_WEBHOOK_PRUNE_DAYS=30
FILAMENT_AVATAR_PROVIDER=uiavatars
FILAMENT_UPLOADABLE_AVATARS=true
FILAMENT_WIDTH="screen-2xl"
# DB
DB_CONNECTION=sqlite
DB_DATABASE="database.sqlite"
CACHE_STORE=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
# Panel
PANEL_USE_BINARY_PREFIX=true
PANEL_CLIENT_ALLOCATIONS_ENABLED=true
PANEL_SEND_INSTALL_NOTIFICATION=true
PANEL_SEND_REINSTALL_NOTIFICATION=true
PANEL_EDITABLE_SERVER_DESCRIPTIONS=true
PANEL_CLIENT_ALLOCATIONS_RANGE_START=25000
PANEL_CLIENT_ALLOCATIONS_RANGE_END=26000
# Captcha
CAPTCHA_TURNSTILE_ENABLED=true
CAPTCHA_TURNSTILE_SITE_KEY={{ turnstile_site_key }}
CAPTCHA_TURNSTILE_SECRET_KEY={{ turnstile_secret_key }}
CAPTCHA_TURNSTILE_VERIFY_DOMAIN=true
# Misc
GUZZLE_TIMEOUT=15
GUZZLE_CONNECT_TIMEOUT=5
