# Postgres
POSTGRES_USER=lemmy
POSTGRES_PASSWORD={{ postgres_pw }}
POSTGRES_DB=lemmy

#Rust
#RUST_LOG="warn,lemmy_server=debug,lemmy_api=debug,lemmy_api_common=debug,lemmy_api_crud=debug,lemmy_apub=debug,lemmy_db_schema=debug,lemmy_db_views=debug,lemmy_db_views_actor=debug,lemmy_db_views_moderator=debug,lemmy_routes=debug,lemmy_utils=debug,lemmy_websocket=debug"
#RUST_BACKTRACE=full
#RUST_LOG=debug
#RUST_BACKTRACE=full

# Lemmy UI
LEMMY_UI_LEMMY_INTERNAL_HOST=lemmy_app:8536
LEMMY_UI_LEMMY_EXTERNAL_HOST=news.wigger.one
LEMMY_HTTPS=true
LEMMY_UI_DEBUG=false
LEMMY_UI_DISABLE_CSP=false

LEMMY_UI_EXTRA_THEMES_FOLDER=/web/extra_themes
LEMMY_CONFIG_LOCATION=/config/lemmy.hjson


#PICTRS_OPENTELEMETRY_URL=http://otel:4137
PICTRS__API_KEY={{ lemmy_pictrs }}
PICTRS__MEDIA__VIDEO_CODEC=vp9
PICTRS__MEDIA__GIF__MAX_WIDTH=256
PICTRS__MEDIA__GIF__MAX_HEIGHT=256
PICTRS__MEDIA__GIF__MAX_AREA=65536
PICTRS__MEDIA__GIF__MAX_FRAME_COUNT=400
