# gitlab-db.container
[Container]
AutoUpdate=registry
ContainerName=gitlab_postgres
Image=docker.io/postgres:16-alpine
Network=db.network
PublishPort=5432:5432
Volume=/mnt/container/gitlab/db/:/var/lib/postgresql/data:Z
EnvironmentFile=/mnt/container/gitlab/settings.env

[Service]
Restart=always

[Install]
WantedBy=default.target
