# gitlab.container
[Container]
AutoUpdate=registry
ContainerName=gitlab_app
Image=docker.io/gitlab/gitlab-ce:latest
Network=app.network
PublishPort=8080:80
PublishPort=8443:443
Volume=/mnt/container/gitlab/config:/etc/gitlab:Z
Volume=/mnt/container/gitlab/logs:/var/log/gitlab:Z
Volume=/mnt/container/gitlab/data:/var/opt/gitlab:Z
LogDriver=k8s-file
LogOpt=path=/mnt/container/log/gitlab.log

[Service]
Restart=always

[Install]
WantedBy=default.target
