# gitlab-valkey.container
[Container]
AutoUpdate=registry
ContainerName=gitlab_valkey
Image=docker.io/valkey/valkey:latest
Network=db.network
PublishPort=6379:6379
Volume=/mnt/container/gitlab/valkey/:/data:Z
EnvironmentFile=/mnt/container/gitlab/settings.env
Exec=valkey-server --port 6379 --requirepass {{ redis_pw }} 

[Service]
Restart=always

[Install]
WantedBy=default.target
