# clickhouse.container
[Container]
AutoUpdate=registry
ContainerName=plausible_clickhouse
EnvironmentFile=settings.env
Image=docker.io/clickhouse/clickhouse-server:latest
Network=db.network
PublishPort=8123:8123
Ulimit=nofile=262144:262144
Volume=./clickhouse/event-data:/var/lib/clickhouse
Volume=./clickhouse/event-logs:/var/log/clickhouse-server
Volume=./clickhouse/conf/:/etc/clickhouse-server/config.d/
Volume=./clickhouse/conf/:/etc/clickhouse-server/users.d/
Volume=./clickhouse/backup/:/backup/

[Service]
Restart=always

[Install]
WantedBy=default.target
