# Phoenix Framework (Security)
SECRET_KEY_BASE={{ phoenix_secret_key }}
TOTP_VAULT_KEY={{ totp_vault_key }}
# Erlang (Server)
PORT=8000
LISTEN_IP=0.0.0.0
BASE_URL=https://analytics.wigger.one:443
#Registration
DISABLE_REGISTRATION=invite_only
ENABLE_EMAIL_VERIFICATION=true
# Log
LOG_FAILED_LOGIN_ATTEMPTS=true
LOG_LEVEL=debug
# DB
DATABASE_URL=postgres://plausible:{{ postgres_pw }}@plausible_postgres:5432/plausible
#ECTO_IPV6
CLICKHOUSE_DATABASE_URL=http://plausible_clickhouse:8123/plausible
CLICKHOUSE_FLUSH_INTERVAL_MS=5000
CLICKHOUSE_MAX_BUFFER_SIZE=10000
#Mail (SMTP)
MAILER_EMAIL={{ smtp_user }}
MAILER_NAME=Analytics
MAILER_ADAPTER=Bamboo.MailgunAdapter
MAILGUN_API_KEY={{ mailgun_api_key }}
MAILGUN_BASE_URI=https://api.eu.mailgun.net/v3
MAILGUN_DOMAIN=www.wigger.one
#IP-Geo
#MAXMIND_EDITION=GeoLite2-City

#DB
POSTGRES_DB=plausible
POSTGRES_USER=plausible
POSTGRES_PASSWORD={{ postgres_pw }}
