#####################
# Required Settings #
#####################

# Server hostname
BW_DOMAIN=vault.wigger.one

# Database
# Available providers are sqlserver, postgresql, mysql/mariadb, or sqlite
BW_DB_PROVIDER=postgresql
BW_DB_SERVER=db.local
BW_DB_PORT=5432
BW_DB_DATABASE=bitwarden_vault
BW_DB_USERNAME=bitwarden
BW_DB_PASSWORD={{ postgres_pw }}

# Installation information
# Get your ID and key from https://bitwarden.com/host/
BW_INSTALLATION_ID={{ bw_installation_id }}
BW_INSTALLATION_KEY={{ bw_installation_key }}

#####################
# Optional Settings #
#####################
# Learn more here: https://bitwarden.com/help/environment-variables/

# Container UID/GID
#UID=1000
#GID=1000

# Webserver ports
BW_PORT_HTTP=8080
BW_PORT_HTTPS=8443

# SSL
#BW_ENABLE_SSL=true
#BW_ENABLE_SSL_CA=true
#BW_SSL_CERT=ssl.crt
#BW_SSL_KEY=ssl.key
#BW_SSL_CA_CERT=ca.crt
#BW_ENABLE_SSL_DH=true
#BW_SSL_DH_CERT=dh.pem
#BW_SSL_PROTOCOLS
#BW_SSL_CIPHERS

# Services
# Some services, namely for enterprise use cases, are disabled by default. Defaults shown below.
BW_ENABLE_ADMIN=true
BW_ENABLE_API=true
BW_ENABLE_EVENTS=true
BW_ENABLE_ICONS=false
BW_ENABLE_IDENTITY=true
BW_ENABLE_NOTIFICATIONS=true
BW_ENABLE_SCIM=true
BW_ENABLE_SSO=true
BW_ICONS_PROXY_TO_CLOUD=true


# Mail
globalSettings__mail__replyToEmail={{ smtp_user }}
globalSettings__mail__smtp__host={{ smtp_host }}
globalSettings__mail__smtp__port=465
globalSettings__mail__smtp__ssl=true
globalSettings__mail__smtp__username={{ smtp_user }}
globalSettings__mail__smtp__password={{ smtp_password }}

# Yubikey
#globalSettings__yubico__clientId=
#globalSettings__yubico__key=

# HaveIBeenPwned
globalSettings__hibpApiKey={{ hibpApiKey }}

# ¯\_(ツ)_/¯
globalSettings__disableUserRegistration=false
adminSettings__admins={{ mail }}
BW_REAL_IPS=web.local

