---
- name: Set sysctl policy for unprivileged ports
  ansible.posix.sysctl:
    name: net.ipv4.ip_unprivileged_port_start
    value: 80
    state: present
    sysctl_set: true
    reload: true
    ignoreerrors: true
