---
- name: Include podman/podman
  ansible.builtin.include_tasks: podman/podman.yml

- name: Include podman/quadlet
  ansible.builtin.include_tasks: podman/quadlet.yml

- name: Include env/backend
  ansible.builtin.include_tasks: env/backend.yml
  when: hostvars[inventory_hostname]['backup'] == "true"

- name: Include docker/docker
  ansible.builtin.include_tasks: docker/docker.yml
  when: hostvars[inventory_hostname]['docker'] == "true"

- name: Include docker/container
  ansible.builtin.include_tasks: docker/container.yml
  when: hostvars[inventory_hostname]['docker'] == "true"

- name: Include docker/lgtm
  ansible.builtin.include_tasks: docker/lgtm.yml
  when: hostvars[inventory_hostname]['docker'] == "true" and hostvars[inventory_hostname]['monitoring'] == "alloy"
