# overseerr.container
[Container]
AutoUpdate=registry
ContainerName=overseerr
Image=ghcr.io/sct/overseerr:latest
Network=app.network
PublishPort=5055:5055
Volume=/mnt/container/overseerr/:/app/config:Z
Environment=LOG_LEVEL=debug TZ=Europe/Amsterdam PORT=5055

[Service]
Restart=always

[Install]
WantedBy=default.target
