# plex.container
[Container]
AutoUpdate=registry
ContainerName=plex
Image=docker.io/plexinc/pms-docker:latest
Network=host
Volume=/mnt/container/plex/transcode:/transcode:Z
Volume=/mnt/container/plex/config:/config:Z
Volume=/mnt/media/:/media:ro
Environment=HOSTNAME=Skynet TZ=Europe/Amsterdam PLEX_UID=1000 PLEX_GID=1000
AddDevice=/dev/dri:/dev/dri
LogDriver=k8s-file
LogOpt=path=/mnt/container/log/plex.log

[Service]
Restart=always

[Install]
WantedBy=default.target