# caddy.container
[Container]
AutoUpdate=registry
ContainerName=caddy
Image=ghcr.io/lukasw01/caddy-cloudflare:latest
Network=web.network
Network=backend.network
PublishPort=80:80
PublishPort=443:443
Volume=/mnt/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
Volume=/mnt/caddy/data:/data:Z
Volume=/mnt/caddy/config:/config:Z
Volume=/mnt/caddy/logs:/var/log:Z
Volume=/mnt/caddy/www:/usr/share/www:Z
LogDriver=k8s-file
LogOpt=path=/mnt/container/log/caddy.log

[Service]
Restart=always

[Install]
WantedBy=default.target