# cloudflared.container
[Container]
AutoUpdate=registry
ContainerName=cloudflared
Image=docker.io/cloudflare/cloudflared:latest
Network=web.network
Network=backend.network
Exec=tunnel --no-autoupdate run --token {{ warp_token }}
LogDriver=k8s-file
LogOpt=path=/mnt/container/log/cloudflared.log

[Service]
Restart=always

[Install]
WantedBy=default.target