# cloudflared.container
[Container]
AutoUpdate=registry
ContainerName=cloudflared
Image=docker.io/cloudflare/cloudflared:latest
Network=web.network
Network=backend.network
{% if hostvars[inventory_hostname]['region'] == "CH" %}
Exec=tunnel --no-autoupdate run --token {{ warp_token_ch }}
{% elif hostvars[inventory_hostname]['region'] == "FI" %}
Exec=tunnel --no-autoupdate run --token {{ warp_token_fi }}
{% endif %}
LogDriver=k8s-file
LogOpt=path=/mnt/container/log/cloudflared.log

[Service]
Restart=always

[Install]
WantedBy=default.target