# mastodon_streaming.container
[Container]
AutoUpdate=registry
ContainerName=mastodon_streaming
Image=ghcr.io/mastodon/mastodon-streaming:latest
Network=app.network
PublishPort=4040:4000
EnvironmentFile=/mnt/container/mastodon/settings.env
Exec=node ./streaming

[Service]
Restart=always

[Install]
WantedBy=default.target
