# valkey.container
[Container]
AutoUpdate=registry
ContainerName=valkey
Image=docker.io/valkey/valkey:alpine
Network=db.network
PublishPort=6379:6379
Volume=/mnt/container/db/valkey/:/data:Z
EnvironmentFile=/mnt/container/db/settings.env
Exec=valkey-server --port 6379 --requirepass {{ redis_pw }} 

[Service]
Restart=always

[Install]
WantedBy=default.target
