#Rust
#RUST_LOG="warn,lemmy_server=debug,lemmy_api=debug,lemmy_api_common=debug,lemmy_api_crud=debug,lemmy_apub=debug,lemmy_db_schema=debug,lemmy_db_views=debug,lemmy_db_views_actor=debug,lemmy_db_views_moderator=debug,lemmy_routes=debug,lemmy_utils=debug,lemmy_websocket=debug"
#RUST_BACKTRACE=full
#RUST_LOG=debug
#RUST_BACKTRACE=full

# Lemmy UI
LEMMY_UI_LEMMY_INTERNAL_HOST=lemmy_app:8536
LEMMY_UI_LEMMY_EXTERNAL_HOST=news.wigger.one
LEMMY_HTTPS=true
LEMMY_UI_DEBUG=false

# PICTRS
PICTRS__API_KEY={{ lemmy_pictrs }}
PICTRS__MEDIA__VIDEO_CODEC=vp9
PICTRS__MEDIA__GIF__MAX_WIDTH=256
PICTRS__MEDIA__GIF__MAX_HEIGHT=256
PICTRS__MEDIA__GIF__MAX_AREA=65536
PICTRS__MEDIA__GIF__MAX_FRAME_COUNT=400

PICTRS__STORE__TYPE=object_storage
PICTRS__STORE__ENDPOINT={{ s3_url }}
PICTRS__STORE__BUCKET_NAME=news
PICTRS__STORE__REGION=auto
PICTRS__STORE__ACCESS_KEY={{ s3_access_key_id }}
PICTRS__STORE__SECRET_KEY={{ s3_secret_access_key }}
PICTRS__STORE__USE_PATH_STYLE=false

# etc.
LEMMY_UI_EXTRA_THEMES_FOLDER=/web/extra_themes
LEMMY_CONFIG_LOCATION=/config/lemmy.hjson
