# doplarr.container
[Container]
AutoUpdate=registry
ContainerName=doplarr
Image=ghcr.io/activexray/doplarr_rs:latest
Network=app.network
Volume=/mnt/container/discord/doplarr/config.toml:/config.toml:ro
LogDriver=k8s-file
LogOpt=path=/mnt/container/log/doplarr.log

[Service]
Restart=always

[Install]
WantedBy=default.target