---
- name: Ensure Containers dont shut down after User logs off (loginctl enable-linger)
  ansible.builtin.command: loginctl enable-linger {{ user }}
  changed_when: false

- name: Enable Podman socket for user
  become: true
  become_user: "{{ user }}"
  ansible.builtin.systemd:
    name: podman.socket
    state: started
    enabled: true
    scope: user

- name: Create /mnt/container directories & set permissions
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0775"
    owner: "{{ user }}"
    group: "{{ group }}"
    recurse: true
  loop:
    - "/mnt/container"
    - "/mnt/container/backend"
