# minecraft.container
[Container]
AutoUpdate=registry
ContainerName=minecraft
Image=ghcr.io/itzg/minecraft-server:latest
Network=app.network
PublishPort=25565:25565
PublishPort=8080:8080
PublishPort=24454:24454/udp
Volume=/mnt/container/minecraft/data:/data:Z
EnvironmentFile=/mnt/container/minecraft/settings.env
PodmanArgs=--tty

[Service]
Restart=always

[Install]
WantedBy=default.target