# pelican_panel.container
[Container]
AutoUpdate=registry
ContainerName=pelican_panel
Image=ghcr.io/pelican-dev/panel:latest
Network=app.network
PublishPort=8080:8080
Volume=/mnt/container/minecraft/app:/pelican-data:Z
Volume=/mnt/container/minecraft/logs:/var/www/html/storage/logs:Z
Volume=/mnt/container/minecraft/caddy/Caddyfile:/etc/caddy/Caddyfile:Z
EnvironmentFile=/mnt/container/minecraft/settings.env

[Service]
Restart=always

[Install]
WantedBy=default.target