---
global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: web_{{ hostvars[inventory_hostname]['region'] | lower }}
    scheme: https
    static_configs:
      - targets: ['caddy.{{ hostvars[inventory_hostname]['region'] | lower }}.wigger.cloud']

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets: [ 'alertmanager.local:9093' ]
