# APP
PAPERLESS_SECRET_KEY={{ paperless_secret_key }}
PAPERLESS_URL=https://docs.wigger.one
PAPERLESS_APP_TITLE=Docs

# DB
PAPERLESS_REDIS=redis://:{{ redis_pw }}@db.local:6379/1
PAPERLESS_DBHOST=db.local
PAPERLESS_DBNAME=paperless
PAPERLESS_DBPASS={{ postgres_pw }}
PAPERLESS_DBPORT=5432

# SMTP
PAPERLESS_EMAIL_HOST={{ smtp_host }}
PAPERLESS_EMAIL_PORT={{ smtp_port }}
PAPERLESS_EMAIL_HOST_USER={{ smtp_user }}
PAPERLESS_EMAIL_FROM={{ smtp_user }}
PAPERLESS_EMAIL_HOST_PASSWORD={{ smtp_password }}

# Services
PAPERLESS_TIKA_ENABLED=1
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://paperless_gotenberg:3000
PAPERLESS_TIKA_ENDPOINT=http://paperless_tika:9998

# Paperless-NGX
PAPERLESS_ENABLE_UPDATE_CHECK=1
PAPERLESS_WEBSERVER_WORKERS=1
PAPERLESS_EMAIL_PARSE_DEFAULT_LAYOUT=2
PAPERLESS_FILENAME_FORMAT_REMOVE_NONE=1
PAPERLESS_EMPTY_TRASH_DELAY=30
PAPERLESS_EMPTY_TRASH_TASK_CRON=0 1 * * *
PAPERLESS_OCR_LANGUAGE=deu+eng
PAPERLESS_OCR_MODE=skip
PAPERLESS_OCR_CLEAN=clean
PAPERLESS_OCR_DESKEW=1
PAPERLESS_OCR_ROTATE_PAGES=1
PAPERLESS_OCR_ROTATE_PAGES_THRESHOLD=12
PAPERLESS_OCR_OUTPUT_TYPE=pdfa
PAPERLESS_CONSUMER_ENABLE_COLLATE_DOUBLE_SIDED=1
PAPERLESS_CONSUMER_COLLATE_DOUBLE_SIDED_SUBDIR_NAME=double-sided
PAPERLESS_CONSUMER_COLLATE_DOUBLE_SIDED_TIFF_SUPPORT=1
PAPERLESS_CONSUMER_ENABLE_TAG_BARCODE=1
PAPERLESS_CONSUMER_BARCODE_MAX_PAGES=0
PAPERLESS_CONSUMER_BARCODE_DPI=300
PAPERLESS_CONSUMER_BARCODE_UPSCALE=0.0
PAPERLESS_CONSUMER_ASN_BARCODE_PREFIX=ASN
PAPERLESS_CONSUMER_ENABLE_ASN_BARCODE=1
PAPERLESS_CONSUMER_BARCODE_RETAIN_SPLIT_PAGES=1
PAPERLESS_CONSUMER_BARCODE_STRING=PATCHT
PAPERLESS_CONSUMER_BARCODE_TIFF_SUPPORT=1
PAPERLESS_CONSUMER_ENABLE_BARCODES=1
PAPERLESS_CONSUMER_INOTIFY_DELAY=0.5
PAPERLESS_CONSUMER_POLLING=0
PAPERLESS_CONSUMER_POLLING_RETRY_COUNT=5
PAPERLESS_CONSUMER_POLLING_DELAY=5
PAPERLESS_CONSUMER_DELETE_DUPLICATES=1
PAPERLESS_CONSUMER_RECURSIVE=1
PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS=1
PAPERLESS_CONSUMER_BARCODE_SCANNER=PYZBAR
PAPERLESS_FILENAME_DATE_ORDER=DMY
PAPERLESS_NUMBER_OF_SUGGESTED_DATES=3
PAPERLESS_DATE_ORDER=DMY
PAPERLESS_LOGROTATE_MAX_SIZE=10
PAPERLESS_LOGROTATE_MAX_BACKUPS=20
APERLESS_AUDIT_LOG_ENABLED=1
PAPERLESS_TASK_WORKERS=1
PAPERLESS_THREADS_PER_WORKER=1
PAPERLESS_WORKER_TIMEOUT=1800
PAPERLESS_TIME_ZONE=UTC
PAPERLESS_NLTK_DIR=1
PAPERLESS_EMAIL_TASK_CRON=*/10 * * * *
PAPERLESS_TRAIN_TASK_CRON=5 */1 * * *
PAPERLESS_INDEX_TASK_CRON=0 0 * * *
PAPERLESS_SANITY_TASK_CRON=30 0 * * sun
PAPERLESS_ENABLE_COMPRESSION=1
PAPERLESS_CONVERT_MEMORY_LIMIT=0
PAPERLESS_MAX_IMAGE_PIXELS=4000
