# APP
PAPERLESS_SECRET_KEY={{ paperless_secret_key }}
PAPERLESS_URL=https://docs.wigger.one
PAPERLESS_APP_TITLE=Docs

# DB
PAPERLESS_DBENGINE=postgresql
PAPERLESS_REDIS=redis://:{{ redis_pw }}@db.local:6379/1
PAPERLESS_DBHOST=db.local
PAPERLESS_DBNAME=paperless
PAPERLESS_DBPASS={{ postgres_pw }}
PAPERLESS_DBPORT=5432

# SMTP
PAPERLESS_EMAIL_HOST={{ smtp_host }}
PAPERLESS_EMAIL_PORT={{ smtp_port }}
PAPERLESS_EMAIL_HOST_USER={{ smtp_user }}
PAPERLESS_EMAIL_FROM={{ smtp_user }}
PAPERLESS_EMAIL_HOST_PASSWORD={{ smtp_password }}

# Services
PAPERLESS_TIKA_ENABLED=true
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://paperless_gotenberg:3000
PAPERLESS_TIKA_ENDPOINT=http://paperless_tika:9998

# Paperless-NGX
PAPERLESS_ENABLE_UPDATE_CHECK=true
PAPERLESS_CONSUMER_TAG_BARCODE_SPLIT=true
PAPERLESS_WEBSERVER_WORKERS=true
PAPERLESS_EMAIL_PARSE_DEFAULT_LAYOUT=2
PAPERLESS_FILENAME_FORMAT_REMOVE_NONE=true
PAPERLESS_EMPTY_TRASH_DELAY=30
PAPERLESS_EMPTY_TRASH_TASK_CRON=0 1 * * *
PAPERLESS_OCR_LANGUAGE=deu+eng
PAPERLESS_OCR_MODE=skip
PAPERLESS_OCR_CLEAN=clean
PAPERLESS_OCR_DESKEW=true
PAPERLESS_OCR_ROTATE_PAGES=true
PAPERLESS_OCR_ROTATE_PAGES_THRESHOLD=true2
PAPERLESS_OCR_OUTPUT_TYPE=pdfa
PAPERLESS_CONSUMER_ENABLE_COLLATE_DOUBLE_SIDED=true
PAPERLESS_CONSUMER_COLLATE_DOUBLE_SIDED_SUBDIR_NAME=double-sided
PAPERLESS_CONSUMER_COLLATE_DOUBLE_SIDED_TIFF_SUPPORT=true
PAPERLESS_CONSUMER_ENABLE_TAG_BARCODE=true
PAPERLESS_CONSUMER_BARCODE_MAX_PAGES=0
PAPERLESS_CONSUMER_BARCODE_DPI=300
PAPERLESS_CONSUMER_BARCODE_UPSCALE=0.0
PAPERLESS_CONSUMER_ASN_BARCODE_PREFIX=ASN
PAPERLESS_CONSUMER_ENABLE_ASN_BARCODE=true
PAPERLESS_CONSUMER_BARCODE_RETAIN_SPLIT_PAGES=true
PAPERLESS_CONSUMER_BARCODE_STRING=PATCHT
PAPERLESS_CONSUMER_BARCODE_TIFF_SUPPORT=true
PAPERLESS_CONSUMER_ENABLE_BARCODES=true
PAPERLESS_CONSUMER_INOTIFY_DELAY=0.5
PAPERLESS_CONSUMER_POLLING=0
PAPERLESS_CONSUMER_POLLING_RETRY_COUNT=5
PAPERLESS_CONSUMER_POLLING_DELAY=5
PAPERLESS_CONSUMER_DELETE_DUPLICATES=true
PAPERLESS_CONSUMER_RECURSIVE=true
PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS=true
PAPERLESS_CONSUMER_BARCODE_SCANNER=PYZBAR
PAPERLESS_FILENAME_DATE_ORDER=DMY
PAPERLESS_NUMBER_OF_SUGGESTED_DATES=3
PAPERLESS_DATE_ORDER=DMY
PAPERLESS_LOGROTATE_MAX_SIZE=true0
PAPERLESS_LOGROTATE_MAX_BACKUPS=20
APERLESS_AUDIT_LOG_ENABLED=true
PAPERLESS_TASK_WORKERS=true
PAPERLESS_THREADS_PER_WORKER=true
PAPERLESS_WORKER_TIMEOUT=true800
PAPERLESS_TIME_ZONE=UTC
PAPERLESS_NLTK_DIR=true
PAPERLESS_EMAIL_TASK_CRON=*/10 * * * *
PAPERLESS_TRAIN_TASK_CRON=5 */1 * * *
PAPERLESS_INDEX_TASK_CRON=0 0 * * *
PAPERLESS_SANITY_TASK_CRON=30 0 * * sun
PAPERLESS_SHARE_LINK_BUNDLE_CLEANUP_CRON=0 2 * * *
PAPERLESS_ENABLE_COMPRESSION=true
PAPERLESS_CONVERT_MEMORY_LIMIT=0
PAPERLESS_MAX_IMAGE_PIXELS=4000
PAPERLESS_APPS=allauth.socialaccount.providers.openid_connect
PAPERLESS_SOCIALACCOUNT_PROVIDERS={"openid_connect": {"APPS": [{"provider_id": "keycloak", "name": "Keycloak", "client_id": "paperless", "secret": "{{ paperless_client_secret }}", "settings": {"server_url": "https://auth.wigger.one/realms/master/.well-known/openid-configuration"}}]}}
