---
- name: Create Backend directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0775"
    recurse: true
  loop:
    - "/mnt/container/backend/kopia/config"
    - "/mnt/container/backend/kopia/logs"
    - "/mnt/container/backend/kopia/cache"

- name: Set up Backend
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: '0644'
  loop:
    - src: env/backend/kopia/settings.env.j2
      dest: /mnt/container/backend/kopia/settings.env
