- name: Create LGTM directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0770"
    owner: "{{ user }}"
    group: "{{ group }}"
    recurse: true
  loop:
    - "/mnt/container/backend/alloy/data"
    - "/mnt/container/backend/alloy/conf"
    - "/mnt/container/log"

- name: Allow LGTM to read /run/log/journal
  community.general.sefcontext:
    target: '/run/log/journal'
    setype: svirt_sandbox_file_t
    state: present

- name: Set up LGTM
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: '0644'
  loop:
    - src: env/alloy/podman/config.alloy.j2
      dest: "/mnt/container/backend/alloy/conf/config.alloy"
