# mastodon_streaming.container
[Container]
AutoUpdate=registry
ContainerName=mastodon_streaming
EnvironmentFile=/mnt/container/mastodon/settings.env
Exec=node ./streaming
HealthCmd='wget -q --spider --proxy=off localhost:4000/api/v1/streaming/health || exit 1'
Image=ghcr.io/mastodon/mastodon:latest
Network=app.network
Network=web.network
Network=db.network

[Service]
Restart=always

[Install]
WantedBy=default.target
