# mastodon_keydb.container
[Container]
AutoUpdate=registry
ContainerName=mastodon_keydb
EnvironmentFile=/mnt/container/mastodon/settings.env
Exec=sh -c 'keydb-server --rename-command FLUSHDB "" --rename-command FLUSHALL "" && keydb-cli --rdb /data/backup.rdb'
Image=docker.io/eqalpha/keydb:alpine
Network=db.network
PublishPort=6379:6379
Volume=/mnt/container/mastodon/keydb/:/data:Z

[Service]
Restart=always

[Install]
WantedBy=default.target