# paperless_tika.container
[Container]
AutoUpdate=registry
ContainerName=paperless_tika
Image=docker.io/apache/tika:latest
Network=app.network
LogDriver=k8s-file
LogOpt=path=/mnt/container/log/paperless_tika.log

[Service]
Restart=always

[Install]
WantedBy=default.target
