# Import
(header) {
	header {
		Permissions-Policy "interest-cohort=()"
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy "same-origin"
		Content-Security-Policy "upgrade-insecure-requests; frame-ancestors 'self'"
	}
}

(ipfilter) {
	@ban {
		not remote_ip 123.123.123.123
		path *
	}
	redir @ban https://wigger.one/ban/
}

(logs) {
	log {
		output file /var/log/access.log {
			roll_size 1gb
			roll_keep 5
			roll_keep_for 720h
		}
	}
}

(request_body) {
	request_body {
		max_size 15MB
	}
}

(git) {
    respond /.git/* "Access denied" 403 {
        close
    }
}

(handle_errors_404) {
	handle_errors {
		@404 expression {err.status_code} == 404
		handle @404 {
			rewrite * /404.html
			file_server
		}
	}
}

(handle_errors_index) {
	handle_errors {
		@404 expression {err.status_code} == 404
		handle @404 {
			rewrite * /index.html
			file_server
		}
	}
}

# Globals
{
    #CDN-ACME
    acme_dns cloudflare {{ cloudflare_api }}
    #Debug-Mode
    #debug
    #Metrics
    servers {
        metrics
        trusted_proxies static 10.90.10.0/24
    }
}

# Host
hetzner.wigger.cloud, pike.wigger.cloud {
	redir https://wigger.cloud
}

# App
:4000 {
	reverse_proxy maverick.lan:1234 {
        header_up X-Real-IP {http.request.header.CF-Connecting-IP}
        header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
    }

    @lemmy path /api/* /pictrs/* /feeds/* /nodeinfo/* /.well-known/*
	handle @lemmy {
		reverse_proxy maverick.lan:8536 {
            header_up X-Real-IP {http.request.header.CF-Connecting-IP}
            header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
        }
	}

	@lemmy-hdr header Accept application/*
	handle @lemmy-hdr {
		reverse_proxy maverick.lan:8536 {
            header_up X-Real-IP {http.request.header.CF-Connecting-IP}
            header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
        }
	}

	@lemmy-post method POST
	handle @lemmy-post {
			reverse_proxy maverick.lan:8536  {
            header_up X-Real-IP {http.request.header.CF-Connecting-IP}
            header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
        }
	}

	encode gzip

	import header
	import logs
}

# Backend
*.het.wigger.cloud {
    @caddy host caddy.het.wigger.cloud
    handle @caddy {
        metrics
    }
    
    @node_exporter host node.het.wigger.cloud
    handle @node_exporter {
        reverse_proxy web.lan:4000
    }
    
    encode gzip
    
    import header
    import logs
}

*.db.wigger.cloud {
    @node_exporter host node.db.wigger.cloud
    handle @node_exporter {
        reverse_proxy db.lan:4000
    }
    
    @kopia host kopia.db.wigger.cloud
    handle @kopia {
        reverse_proxy db.lan:4001
    }
    
    encode gzip
    
    import header
    import logs
}

*.minecraft.wigger.cloud {
    @node_exporter host node.minecraft.wigger.cloud
    handle @node_exporter {
        reverse_proxy minecraft.lan:4000
    }
    
    @kopia host kopia.minecraft.wigger.cloud
    handle @kopia {
        reverse_proxy minecraft.lan:4001
    }
    
    encode gzip
    
    import header
    import logs
}

*.maverick.wigger.cloud {
    @node_exporter host node.maverick.wigger.cloud
    handle @node_exporter {
        reverse_proxy maverick.lan:4000
    }
    
    @kopia host kopia.maverick.wigger.cloud
    handle @kopia {
        reverse_proxy maverick.lan:4001
    }
    
    encode gzip
    
    import header
    import logs
}