# prometheus.container
[Container]
AutoUpdate=registry
ContainerName=prometheus
Image=quay.io/prometheus/prometheus:latest
Network=app.network
PublishPort=9090:9090
Volume=/mnt/container/prometheus/data:/prometheus:Z
Volume=/mnt/container/prometheus/conf:/etc/prometheus:ro
Exec='--config.file=/etc/prometheus/prometheus.yaml' --web.enable-remote-write-receiver

[Service]
Restart=always

[Install]
WantedBy=default.target
