# app.container
[Container]
AutoUpdate=registry
EnvironmentFile=settings.env
Image=registry.gitlab.com/timvisee/send:latest
Network=app.network
Network=db.network
Network=web.network

[Service]
Restart=always

[Install]
WantedBy=default.target
